a(class="cards", href="https://marker.medium.com/clubhouse-is-dropbox-2-0-ceadd1e81322?source=topic_page---------------------------20----------")
      img(src="images/robot.jpeg")
      h1 Was Clubhouse Doomed By Its Early Success?
      div(class="smolltext") The early hype around Clubhouse caused competitors to pounce on its live-audio turf