@import './styles/font.css';
@import 'youtube.scss';


.google {
    display: flex;
    justify-content: row;
    font-size: 100px;
    justify-content: center;
    .g {
        color: blue;
    }
    
    .o {
        color: red;
    }
    
    .o1 {
        color: yellow;
    }
    
    .l {
        color: green;
    }
    
}

.input {
    display: flex;
    justify-content: center;
    width: 600px;
    border: 1px solid green;
    margin-left: 540px;
    margin-top: 20px;
    height: 30px;
    border-radius: 50px;
    padding: 10px;

    &:hover {
        box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    }
    
    input {
        border: none;
        outline: none;
        font-size: 20px;

    }

    .lupa {
        fill: grey;
        margin-right: 10px;
    }
}

.button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    button {
        &:hover {
            box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
        }
        height: 40px;
        width: 150px;
        border: none;
        background-color: #f8f9fa;
        margin-left: -15px;
        border-radius: 10px;
    }

    form:first-child button {
        margin-right: 40px;
    }
    
}
