doctype html
html(lang="")
  head
    link(rel="stylesheet", href="./index.scss")
  
  body
    include cards.pug
    include man.pug
    include t.pug
    h1 VIDEO
    hr(color="black" align="left" width="100%")
    div(class="setka")
      div(class="one")
        include video.pug
        include video.pug
        include video.pug
        include video.pug
      div(class="two")
        include video.pug
        include video.pug
        include video.pug
        include video.pug