div(class="smollsnip")
      div(class="latest") LATEST
      hr(align="left" width="1000px" size="1" color="black")
      div(class="all")
        div(class="neall")
          div(class="smollname") Can’t We Use Crypto for Something Other than Capitalism?
          div(class="smolldiscription") How to make the next generation of bankers better than today’s
          div Douglas Rushkoff in OneZero
          div(class="lasttime") 
            div(class="star")
              div Aug 20 · 8 min read
              svg(class="gl" width="15" height="15" viewBox="0 0 15 15" aria-label="Member only content")
                path(d="M7.44 2.32c.03-.1.09-.1.12 0l1.2 3.53a.29.29 0 0 0 .26.2h3.88c.11 0 .13.04.04.1L9.8 8.33a.27.27 0 0 0-.1.29l1.2 3.53c.03.1-.01.13-.1.07l-3.14-2.18a.3.3 0 0 0-.32 0L4.2 12.22c-.1.06-.14.03-.1-.07l1.2-3.53a.27.27 0 0 0-.1-.3L2.06 6.16c-.1-.06-.07-.12.03-.12h3.89a.29.29 0 0 0 .26-.19l1.2-3.52z")
            div(class="star")
              svg(class="flag" width="25" height="25" viewBox="0 0 25 25" fill="none" class="hx")
                path(d="M18 2.5a.5.5 0 0 1 1 0V5h2.5a.5.5 0 0 1 0 1H19v2.5a.5.5 0 1 1-1 0V6h-2.5a.5.5 0 0 1 0-1H18V2.5zM7 7a1 1 0 0 1 1-1h3.5a.5.5 0 0 0 0-1H8a2 2 0 0 0-2 2v14a.5.5 0 0 0 .8.4l5.7-4.4 5.7 4.4a.5.5 0 0 0 .8-.4v-8.5a.5.5 0 0 0-1 0v7.48l-5.2-4a.5.5 0 0 0-.6 0l-5.2 4V7z" fill="#292929")
              
        a(class="img" href="https://onezero.medium.com/cant-we-use-crypto-for-something-other-than-capitalism-528a8e8b035f?source=topic_page---------0------------------1----------" class="s fo fp fq hy fl hz" rel="noopener follow")
          img(class="link" src="https://miro.medium.com/max/1400/0*XdpUTPqzW6ljZCeN" width="700" height="1050" role="presentation")